.row
  .small-6.large-4.columns
    %h1 Waitlistr
  .small-1.large-4.columns
  .small-5.large-4.columns
    #login_logic
      = render :partial => "home/login_logic"
.row
  .small-12.large-4.large-centered.columns
    #login_form
.row
  .small-11.small-centered.large-5.large-centered.columns
    .the-list
      #add_myself
        -if !@list.include?(@current_user)
          = render partial:"home/add_btn"
      %h2 The List
      %ol#list
        - @list.each do |user|
          %li.removable{:data => {:username => user.username}}= user.username



