.row
  .small-4.columns
    %h1 Waitlistr
  .small-4.columns
    .the-list
      #add_myself
        = render :partial => "home/add_btn"
      %h3 The List
      %ol#list
  .small-4.columns
    #login_logic
      = render :partial => "home/login_logic"
    #login_form

