.session-btn {
  margin-top: 0.5em;
}

#login_logic {
  text-align: right;
}

.the-list {
  h2, #add_myself {
    text-align: center;
  }
  #list {
    list-style: none;
  }
}

.wrong {
  color: red;
  margin-bottom: 10px;
}

.remove {
  text-decoration: line-through;
}

.hover {
  background: red;
  color: white;
}

