.session-btn {
  margin-top: 20px;
}

#login_logic {
  text-align: right;
}

.the-list {
  margin-top: 85px;
  h3, #add_myself {
    text-align: center;
  }
}

.wrong {
  color: red;
  margin-bottom: 10px;
}

.remove {
  text-decoration: line-through;
}